@page "/"
@inject BlazoradeIdService AuthService

<PageTitle>Index</PageTitle>

<h1>Get Tokens</h1>

<button @onclick="@this.OnIdTokenClick">Get Identity Token</button>

@code{
    async Task OnIdTokenClick(MouseEventArgs e)
    {

    }
}