@page "/"
@inject TokenService TokenService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>
    Welcome to your new app.
</p>

<button class="btn btn-primary" @onclick="GetToken">Get Token</button>
@if(this.token?.Length > 0)
{
    <p>
        @this.token
    </p>
}


@code {
    string? token;
    private async Task GetToken()
    {
        var accessToken = await this.TokenService.GetAccessTokenAsync();
        this.token = accessToken?.RawData;

        this.StateHasChanged();
    }
}