@page "/"
@using Blazorade.Id.Model
@inject ITokenService TokenService

<PageTitle>Blazorade Id Sample WASM App</PageTitle>

<h1>Blazorade Id Sample WASM App</h1>

<p>
    A sample Blazor WASM application that uses a shared sample component
    library to demonstrate authentication and token acquisition using Blazorade ID.
</p>
<p>
    Use the menu above to navigate through various samples.
</p>
