@page "/"
@using Blazorade.Id.Core.Model
@inject ITokenService TokenService

<PageTitle>Blazorade ID WASM Sample</PageTitle>

<h1>Blazorade ID for Blazor WASM</h1>

<p>
    This simple application demonstrates how you can use Blazorade ID in your application.
</p>

<AuthorizeView>
    <Authorized Context="auth">
        <h2>@auth.User.Identity?.Name</h2>
        <button class="btn btn-primary" @onclick="async () => await this.LogIn(Prompt.Select_Account)">Switch Account</button>
    </Authorized>
    <NotAuthorized>
        <button class="btn btn-primary" @onclick="async () => await this.LogIn()">Log In</button>
    </NotAuthorized>
</AuthorizeView>

@if(this.accessToken?.Length > 0)
{
    <h3>Access Token</h3>
    <p><a href="https://jwt.ms/#access_token=@this.accessToken" target="_blank">@this.accessToken</a></p>
}

@if(this.idToken?.Length > 0)
{
    <h3>Identity Token</h3>
    <p><a href="https://jwt.ms/#id_token=@this.idToken" target="_blank">@this.idToken</a></p>
}

@code {
    string? accessToken, idToken;
    private async Task LogIn(Prompt? prompt = null)
    {
        this.accessToken = null;
        this.idToken = null;
        this.StateHasChanged();

        // var accessTokenJwt = await this.TokenService.GetAccessTokenAsync(options: new GetTokenOptions { Prompt = prompt });
        // this.accessToken = accessTokenJwt?.RawData;

        var idTokenJwt = await this.TokenService.GetIdentityTokenAsync();
        this.idToken = idTokenJwt?.RawData;

        this.StateHasChanged();
    }
}