@using Blazorade.Id.Services
@using Microsoft.AspNetCore.Components.Forms

@page "/"
@inject ITokenService TokenService
@inject ILocalStorageService LocalStore

<PageTitle>Blazorade Id Sample Server App</PageTitle>

<h1>Get Tokens</h1>

<div>
    <label for="scopesField">Scopes</label>
    <InputText @bind-Value="this.Scopes" DisplayName="Scopes" id="scopesField" />
</div>
<div style="margin-top: 1em;">
    <label for="promptField">Prompt</label>
    <InputSelect TValue="Blazorade.Id.Core.Services.Prompt?" @bind-Value="this.Prompt" id="promptField">
        <option value="">Not Specified</option>
        <option value="None">None</option>
        <option value="Login">Login</option>
        <option value="Consent">Consent</option>
        <option value="Select_Account">Select Account</option>
    </InputSelect>
</div>
<div style="margin-top: 1em;">

</div>
<button type="submit" @onclick="this.OnGetTokensAsync">Get Tokens</button>

@if(this.AccessToken?.Length > 0)
{
    <h2>Access Token</h2>
    <p>
        <a href="https://jwt.ms/#access_token=@this.AccessToken" target="_blank">@this.AccessToken</a>
    </p>
}
@if(this.IdToken?.Length > 0)
{
    <h2>ID Token</h2>
    <p>
        <a href="https://jwt.ms/#id_token=@this.IdToken" target="_blank">@this.IdToken</a>
    </p>
}

@code {
    private const string DefaultScopes = "openid profile email";
    private string? Scopes;
    private string? AccessToken;
    private string? IdToken;
    private Blazorade.Id.Core.Services.Prompt? Prompt;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if(firstRender)
        {
            this.Scopes = await this.LocalStore.GetItemAsync<string?>("scopes") ?? DefaultScopes;
            this.StateHasChanged();
        }
    }

    protected async override Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

    }

    private async Task OnGetTokensAsync(MouseEventArgs args)
    {
        this.AccessToken = null;
        this.IdToken = null;

        await this.LocalStore.SetItemAsync("scopes", this.Scopes);

        var accessTokenJwt = await this.TokenService.GetAccessTokenAsync(new GetTokenOptions
        {
            Prompt = this.Prompt,
            Scopes = $"{this.Scopes}".Split(' ', StringSplitOptions.RemoveEmptyEntries)
        });

        this.AccessToken = accessTokenJwt?.RawData;

        var idTokenJwt = await this.TokenService.GetIdentityTokenAsync();
        this.IdToken = idTokenJwt?.RawData;

    }
}