
@page "/"

<PageTitle>Blazorade Id Sample Server App</PageTitle>

<h1>Blazorade Id Sample Server App</h1>

<p>
    A sample Blazor Server application that uses a shared sample component
    library to demonstrate authentication and token acquisition using Blazorade ID.
</p>
<p>
    Use the menu above to navigate through various samples.
</p>
