@page "/acquire-tokens"

@inject ITokenService tokenService
@inject IAuthorizationCodeFailureNotifier authCodeFailures

<PageTitle>Acquire Tokens</PageTitle>
<h1>Acquire Tokens</h1>


@code {

}
