
<div>
    <a href="/">Home</a> | 
    <a href="/sign-in-sign-out">Sign-in / Sign-out</a> |
    <a href="/acquire-tokens">Acquire Tokens</a> |
    <a href="/using-microsoft-graph">Using Microsoft Graph</a>
</div>
